.about-me-content {
    /* padding-left: 20px; */
    /* color: darkblue; */
    font-style: oblique;
    display: flex;
    flex-direction: row;
    font-size: medium;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.about-me-content > figure > img {
    width: 120px;
    height: 150px;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 50px;
    border: 2px solid transparent;
    background-image: linear-gradient(#4245aa, #42455a),
        radial-gradient(circle at top left, #fd00da, #19d7fa);
    filter: grayscale(50%);
    box-shadow: 0 0 5px 5px rgba(255, 255, 200, 0.9);
    align-self: center;
    /* caption-side: bottom; */
}

#greetings {

    margin-top: 50px;
    margin-left: 30px;
    width: 80%;
    font-family: Georgia, "Times New Roman", Times, serif;
}
#my-position {
    color: darkmagenta;
    margin-left: -40px;
    /* font-size: medium; */
    width: 150%;
    /* height: 150px; */
}

#barack-obama-words {
    color: blue;
}


.section-skills {
    /* display: flex; */
    font-size: medium;
    /* font-family: Georgia, "Times New Roman", Times, serif; */
}

.section-skills-content {
    display: flex;
    margin-top: -20px;
    /* font-size: medium;
    font-family: Georgia, "Times New Roman", Times, serif; */
}
.section-skills-content > ul {
    width: 100%;
    color: darkolivegreen;
    line-height: 160%;
    /* display: flexbox; */
    /* justify-content: space-between; */
}
.section-skills-content > ul > li {
    /* padding-top: 10px; */
    height: auto;
}
.section-skills-content > ul > li > em {
    color: darkgoldenrod;
}

.skill-field {
    width: 250px;
    /* background-color: aqua; */
    color: darkblue;
    /* font-size: medium; */
    font-weight: bold;
}


.section-courses-content {
    font-size: medium;
    padding-left: 50px;
}
.section-courses-content > li {
    height: 35px;
    color: darkred;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: midium;
    font-weight: bold;
}

.section-publication-content > li {
    height: 35px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: miduim;
    height: auto;
    padding-top: 10px;
    line-height: 130%;
}


.section-skills-content {
    height: 35px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: miduim;
    font-weight: Bold;
    height: auto;
    padding-top: 10px;
    line-height: 130%;
    line-height: 200%;
}
