
footer {
    background: lightskyblue;
    border-radius: 5px;
    border-color:blue;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.footer-comment {
    padding-left: 30px;
    color: brown;
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
}

/* #logo_img {
    color:black
} */