#root {
    background-color: rgb(248, 244, 239);
    line-height: 160%;
}

header {
    border-radius: 10px;
    border-color: antiquewhite;
    padding-top: 30px;
}

/* a:hover {
    color: blue;
    font-size: 102%;
} */

#title {
    background-color: antiquewhite;
    width: 560px;
    padding-left: 3%;
    font-size: 35px;
    align-self: center;
    line-height: 120%;
}

#header-nav-top > button {
    background-color: antiquewhite;
    height: 40px;
    /* width: 160px; */
    width: 14.25%;
    justify-content: space-between;
}
.header-button:hover {
    /* color: blueviolet; */
    font-size: 15px;
}

#header-content {
    height: 275px;
    width: auto;
    background-image: url("../images/my_bg_main_zeke.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

#header-contact-info {
    padding-top: 5px;
    /* padding-left: 10px; */
    padding-right: 5px;
    color: rgb(249, 253, 23);
    font: 16px bolder;
    font-family: "Courier New", Courier, monospace;
}

.icon-img {
    /* padding-right: 10px; */
    border-radius: 30%;
    border: 2px solid transparent;
    background-image: linear-gradient(#ffff00, #19d7fa),
        radial-gradient(circle at top left, #ffff00, #19d7fa);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
