body{
  width: 1205px;
  /* margin: 1px; */
  margin:auto;
  font-family: Arial, Helvetica, sans-serif;
  border-style: solid;
  border-color: brown;
  border-width: 5px;
}

#header_canvas{
  border-style: solid;
  border-color: goldenrod;
}

/* .root_container{

} */