.header_section_container {
    width: 1200px;
    padding-top: 3px;
    border: 3px solid orange;
} 

a:hover {
    color: blue;
    font-size: 105%;
}

#header-nav-top {
    padding-left: 1px;
}
#header-nav-top > button {
    background-color: antiquewhite;
    height: 40px;
    /* width: 160px; */
    width: 33%;
    max-width:397px;
    white-space:nowrap;
    justify-content: space-between;
    padding-bottom: 3px;
    font-size: 12x;
    margin-bottom: 1px;
}
.header-button:hover {
    /* color: blueviolet; */
    font-size: 15px;
}

#my_name {
    background-color: antiquewhite;
    width: 500px;
    padding-left: 3%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    align-self: center;
    line-height: 120%;
}

#header-content {
    padding-top: 3px;
    height: 230px;
    width: 1200px;
    background-image: url("../images/my_bg_main_zeke.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

#header-contact-info {
    padding-top: 1px;
    /* padding-left: 10px; */
    padding-right: 10px;
    color: yellow;
    font: 12px bolder;
    font-family: "Courier New", Courier, monospace;
}

.icon-img {
    /* padding-right: 10px; */
    /* border-radius: 10%; */
    border: 1px solid transparent;
    background-image: linear-gradient(#ffff00, #19d7fa),
        radial-gradient(circle at top left, #ffff00, #19d7fa);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
